*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EBC8C0;
}

.background_sign{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background_sign .shape_sign{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape_sign:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape_sign:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}

.form_sign{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 58%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(112, 9, 98, 0.089);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.form_sign *{
    font-family: 'Patrick Hand', cursive;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form_sign h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 0px;
    text-align: center;
}

.label_sign{
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

.input_sign{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: black;
}

.button_sign{
    margin-top: 20px;
    width: 100%;
    background-color: #e7d9d6;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

