@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    list-style: none;
    text-decoration: none;
    
}

body{
    background: #EBC8C0;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    background: #ED8770;
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 25px 0;

}

.wrapper .sidebar h2{
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .sidebar ul li{
    padding: 20px;
    border-bottom: 2px solid #E1816B;
    border-top: 2px solid #FF937B;
}

.wrapper .sidebar ul li a{
    color: #ffffff;
    display: block;
}

.wrapper .sidebar ul li a .fa{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: #e59482;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    margin-right: 25px;
}

.wrapper .main_content .header a{
    text-align: right;
    color: #ffffff;
    display: block;
    block-size: 50px 10px;
}

.wrapper .main_content .header a .fa{
    padding: 15px;
    width: 100p;
}
.wrapper .main_content .header a:hover{
    color: #ED8770;
}

.wrapper .main_content h1{
    margin-top: 5px;
    margin-left: 250px;
    font-size: 60px;
    color: floralwhite;
    text-align: center;
}

.wrapper .main_content .slider-containers{
    padding: 0;
    margin-left: 25px;
    background-color: floralwhite;
}

.wrapper .main_content .slider-containers .slider-frame{
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 250px;
    margin-top: 20px;
}

/*-------- SLIDE ANIMATION ------*/


@-webkit-keyframes slide_animation{
    0%{left:0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.wrapper .main_content .slider-containers .slider-frame .slide-images{
    width: 3600;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.wrapper .main_content .slider-containers .slider-frame .slide-images .img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

/*-------- END OF ANIMATION ------*/
